body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #000;
}

.slideshow-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain; /* Keeps aspect ratio */
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}
